@use 'src/global/component';
@use '../../functional-components/form-control/form-control';
@use 'src/global/mixins/hidden' as *;
@use 'src/global/mixins/hide-scrollbar' as *;

:host,
.select {
  display: block;
}

.select__box {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  position: relative;
  width: 100%;
  font-family: var(--six-font-family);
  font-weight: var(--six-input-font-weight);
  font-size: var(--six-input-font-size-medium);
  letter-spacing: var(--six-input-letter-spacing);
  background-color: var(--six-input-background-color);
  border: solid var(--six-border-width) var(--six-input-border-color);
  vertical-align: middle;
  transition:
    var(--six-transition-fast) color,
    var(--six-transition-fast) border,
    var(--six-transition-fast) box-shadow;
  cursor: pointer;

  &--line {
    border: none;
    border-bottom: solid var(--six-border-width) var(--six-input-border-color);
  }

  &--autocomplete {
    border: none;
    overflow: initial;
  }
}

.select:not(.select--disabled) .select__box:hover {
  background-color: var(--six-input-background-color-hover);
  color: var(--six-input-color-hover);

  border-bottom-color: var(--six-input-border-color-hover);

  &:not(.select__box--line) {
    border-color: var(--six-input-border-color-hover);
  }
}

.select:not(.select--disabled) .select__box:focus {
  background-color: var(--six-input-background-color-focus);
  outline: none;
  color: var(--six-input-color-focus);

  border-bottom-color: var(--six-input-border-color-focus);
  box-shadow: 0 1px 0 0 var(--six-input-border-color-focus);

  &:not(.select__box--line) {
    border-color: var(--six-input-border-color-focus);
    box-shadow: var(--six-input-focus-shadow);
  }
}

.select--disabled {
  .select__box {
    background-color: var(--six-input-background-color-disabled);
    color: var(--six-input-color-disabled);
    cursor: not-allowed;
    outline: none;

    &:not(.select__box--line) {
      border-color: var(--six-input-border-color-disabled);
    }
  }

  .select__clear {
    pointer-events: none;
  }
}

.select--invalid:not(.select--disabled):not(.select--focused) {
  .select__box {
    border-bottom-color: var(--six-input-border-color-danger);

    &:not(.input--line) {
      border-color: var(--six-input-border-color-danger);
    }
  }
}

.display__values {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  user-select: none;
  overflow: hidden;
  @include hide-scrollbar;
}

.display__values-values {
  flex: 0 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.display__values-and-counter {
  display: flex;
  overflow: hidden;
}

.select__clear {
  flex-shrink: 0;
  flex-grow: 0;
  display: inline;
}

.select__icon {
  flex-shrink: 0;
  flex-grow: 0;
  display: inline;
  transition: var(--six-transition-medium) transform ease;
}

.select--open .select__icon {
  transform: rotate(-180deg);
}

// Placeholder
.placeholder {
  color: var(--six-input-placeholder-color);
}

.select--disabled .placeholder {
  color: var(--six-input-placeholder-color-disabled);
}

.select__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Size modifiers
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.select--small {
  .select__box {
    border-radius: var(--six-input-border-radius-small);
    font-size: var(--six-input-font-size-small);
    min-height: var(--six-height-small);

    &--line {
      border: none;
      border-bottom: solid var(--six-border-width) var(--six-input-border-color);
    }
  }

  .display__values {
    margin: 0 0 0 var(--six-input-spacing-small);
  }

  .select__clear {
    margin-right: var(--six-spacing-xxx-small);
  }

  .select__icon {
    margin-right: var(--six-spacing-x-small);
  }
}

.select--medium {
  .select__box {
    border-radius: var(--six-input-border-radius-medium);
    font-size: var(--six-input-font-size-medium);
    min-height: var(--six-height-medium);

    &--line {
      border: none;
      border-bottom: solid var(--six-border-width) var(--six-input-border-color);
    }
  }

  .display__values {
    margin: 0 0 0 var(--six-input-spacing-medium);
  }

  .select__clear {
    margin-right: var(--six-spacing-xxx-small);
  }

  .select__icon {
    margin-right: var(--six-spacing-x-small);
  }
}

.select--large {
  .select__box {
    border-radius: var(--six-input-border-radius-large);
    font-size: var(--six-input-font-size-large);
    min-height: var(--six-height-large);

    &--line {
      border: none;
      border-bottom: solid var(--six-border-width) var(--six-input-border-color);
    }
  }

  .display__values {
    margin: 0 0 0 var(--six-input-spacing-large);
  }

  .select__clear {
    margin-right: var(--six-spacing-xxx-small);
  }

  .select__icon {
    margin-right: var(--six-spacing-x-small);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Pill modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.select--pill {
  &.select--small .select__box {
    border-radius: var(--six-height-small);
  }

  &.select--medium .select__box {
    border-radius: var(--six-height-medium);
  }

  &.select--large .select__box {
    border-radius: var(--six-height-large);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Menu
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.select {
  &__menu {
    width: 100%;

    &--hidden {
      // hide the menu panel if there are no menu items
      display: none;
    }
  }
}

// fixes problem where six-select height changes when size="small" and clearing button is visible
six-icon-button::part(base) {
  padding-top: 0;
  padding-bottom: 0;
}

.selection-container--border {
  border-bottom: solid var(--six-border-width) var(--six-menu-divider-color);
  padding-top: var(--six-spacing-xx-small);
  padding-bottom: var(--six-spacing-xx-small);
}

.display-value--hidden {
  display: none;
}

.overflow-count {
  color: var(--six-color-web-rock-600);
  padding-left: var(--six-spacing-x-small);
}

.overflow-count-hidden {
  display: none;
}

.separator--hidden {
  display: none;
}

.select-all {
  border-top: 1px solid var(--six-color-web-rock-300);
  display: flex;
  justify-content: end;
}
