@import '~material-icons/iconfont/material-icons.css';
@import '~@fontsource/noto-sans/latin.css';
@import 'base/colors.css';
@import 'base/typography.css';

body > div.container {
  margin: 1rem;
}

:root {
  --six-border-radius-small: 0rem;
  --six-border-radius-medium: 0rem;
  --six-border-radius-large: 0.5rem;
  --six-border-radius-x-large: 1rem;
  --six-border-radius-circle: 50%;
  --six-border-radius-pill: 9999px;
  --six-spacing-xxx-small: 0.125rem;
  --six-spacing-xx-small: 0.25rem;
  --six-spacing-x-small: 0.5rem;
  --six-spacing-small: 0.75rem;
  --six-spacing-medium: 1rem;
  --six-spacing-large: 1.25rem;
  --six-spacing-x-large: 1.75rem;
  --six-spacing-xx-large: 2.25rem;
  --six-spacing-xxx-large: 3rem;
  --six-spacing-xxxx-large: 4.5rem;
  --six-transition-x-slow: 1000ms;
  --six-transition-slow: 500ms;
  --six-transition-medium: 250ms;
  --six-transition-fast: 150ms;
  --six-transition-x-fast: 50ms;
  --six-font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  --six-font-sans: 'Noto Sans', sans-serif;

  --six-font-family: var(--six-font-sans);

  --six-font-serif: Georgia, 'Times New Roman', serif;
  --six-font-size-xxx-small: 0.5rem;
  --six-font-size-xx-small: 0.625rem;
  --six-font-size-x-small: 0.75rem;
  --six-font-size-small: 0.875rem;
  --six-font-size-medium: 1rem;
  --six-font-size-large: 1.25rem;
  --six-font-size-x-large: 1.5rem;
  --six-font-size-xx-large: 2.25rem;
  --six-font-size-xxx-large: 3rem;
  --six-font-size-xxxx-large: 4.5rem;
  --six-font-weight-light: 300;
  --six-font-weight-normal: 400;
  --six-font-weight-semibold: 500;
  --six-font-weight-bold: 700;
  --six-letter-spacing-dense: -0.015em;
  --six-letter-spacing-normal: normal;
  --six-letter-spacing-loose: 0.075em;
  --six-line-height-dense: 1.4;
  --six-line-height-normal: 1.8;
  --six-line-height-loose: 2.2;

  --six-z-index-header: 500;
  --six-z-index-search-field: 500;
  --six-z-index-drawer: 600;
  --six-z-index-dropdown: 700;
  --six-z-index-toast: 800;
  --six-z-index-tooltip: 900;
  --six-z-index-dialog: 1000;

  --six-shadow-small: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --six-shadow-medium: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --six-shadow-medium-top: 0 -10px 15px -3px rgb(0 0 0 / 0.1), 0 -4px 6px -4px rgb(0 0 0 / 0.1);
  --six-shadow-large: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  --six-height-small: 1.875rem;
  --six-height-medium: 2.5rem;
  --six-height-large: 3.125rem;

  --six-border-width: 1px;

  /* Focus rings */
  --six-focus-ring-style: solid;
  --six-focus-ring-width: 2px;
  --six-focus-ring-offset: 2px;
  --six-focus-ring: var(--six-focus-ring-style) var(--six-focus-ring-width) var(--six-focus-ring-color);
  --six-focus-offset-input: 1px;

  --six-button-font-size-medium: var(--six-font-size-medium);
  --six-button-font-size-large: var(--six-font-size-large);
  --six-button-padding: 0;

  --six-focus-shadow: 0 0 0 var(--six-focus-offset-input);
  --six-input-focus-shadow: var(--six-focus-shadow) var(--six-input-border-color-focus);
  --six-input-background-color: var(--six-color-white);
  --six-input-background-color-hover: var(--six-color-white);
  --six-input-background-color-focus: var(--six-color-white);
  --six-input-background-color-disabled: var(--six-color-web-rock-100);
  --six-input-border-color: var(--six-color-web-rock-400);
  --six-input-border-color-hover: var(--six-color-web-rock-600);
  --six-input-border-color-focus: var(--six-color-action-600);
  --six-input-border-color-danger: var(--six-color-danger-800);
  --six-input-border-color-disabled: var(--six-color-web-rock-400);
  --six-input-border-radius-small: var(--six-border-radius-medium);
  --six-input-border-radius-medium: var(--six-border-radius-medium);
  --six-input-border-radius-large: var(--six-border-radius-medium);
  --six-input-font-weight: var(--six-font-weight-normal);
  --six-input-font-size-small: var(--six-font-size-x-small);
  --six-input-font-size-medium: var(--six-font-size-small);
  --six-input-font-size-large: var(--six-font-size-medium);
  --six-input-letter-spacing: var(--six-letter-spacing-normal);
  --six-input-color: var(--six-color-web-rock-900);
  --six-input-color-hover: var(--six-color-web-rock-900);
  --six-input-color-focus: var(--six-color-web-rock-900);
  --six-input-color-disabled: var(--six-color-web-rock-600);
  --six-input-icon-color: var(--six-color-web-rock-900);
  --six-input-icon-color-hover: var(--six-color-web-rock-600);
  --six-input-icon-color-focus: var(--six-color-web-rock-900);
  --six-input-placeholder-color: var(--six-color-web-rock-500);
  --six-input-placeholder-color-disabled: var(--six-color-web-rock-500);
  --six-input-spacing-small: var(--six-spacing-small);
  --six-input-spacing-medium: var(--six-spacing-medium);
  --six-input-spacing-large: var(--six-spacing-large);
  --six-input-prefix-spacing-small: var(--six-spacing-xx-small);
  --six-input-prefix-spacing-medium: var(--six-spacing-x-small);
  --six-input-prefix-spacing-large: var(--six-spacing-small);
  --six-input-label-font-size-small: var(--six-font-size-xx-small);
  --six-input-label-font-size-medium: var(--six-font-size-x-small);
  --six-input-label-font-size-large: var(--six-font-size-small);
  --six-input-label-color: var(--six-color-web-rock-900);
  --six-input-label-color-disabled: var(--six-color-web-rock-600);
  --six-input-help-text-font-size-small: var(--six-font-size-xx-small);
  --six-input-help-text-font-size-medium: var(--six-font-size-x-small);
  --six-input-help-text-font-size-large: var(--six-font-size-small);
  --six-input-help-text-color: var(--six-color-web-rock-600);
  --six-input-help-text-color-disabled: var(--six-color-web-rock-600);

  --six-overlay-background-color: var(--six-color-web-rock-900);

  --six-panel-background-color: var(--six-color-white);
  --six-panel-border-color: var(--six-color-clay-50);

  --six-progress-track-color: var(--six-color-web-rock-300);
  --six-progress-indicator-color: var(--six-color-danger-800);
  --six-progress-label-color: var(--six-color-white);

  /* add component specific variables here (used for a dedicated component) */
  --six-tooltip-background-color: var(--six-color-web-rock-900);
  --six-tooltip-color: var(--six-color-white);
  --six-tooltip-arrow-size: 5px;
  --six-tooltip-arrow-start-end-offset: 8px;
  --six-tooltip-font-size: var(--six-font-size-small);
  --six-tooltip-font-weight: var(--six-font-weight-normal);
  --six-tooltip-line-height: var(--six-line-height-dense);

  --six-avatar-color: var(--six-color-white);
  --six-avatar-background-color: var(--six-color-web-rock-300);

  --six-checkbox-color: var(--six-color-white);
  --six-selection-control-color: var(--six-color-action-500);
  --six-selection-control-color-disabled: var(--six-color-web-rock-400);
  --six-selection-control-toggle-size: 1rem;

  --six-details-color: var(--six-color-web-rock-900);

  --six-drawer-color: var(--six-color-web-rock-900);
  --six-drawer-background-color: var(--six-color-clay-50);

  --six-footer-background-color: var(--six-color-white);

  --six-header-background-color: var(--six-color-white);
  --six-header-border-color: var(--six-color-web-rock-300);
  --six-header-border-color-open: var(--six-color-web-rock-900);
  --six-header-border-with: 1px;
  --six-header-selected-app-color-hover: var(--six-color-web-rock-600);

  --six-menu-divider-color: var(--six-color-clay-50);
  --six-menu-item-background-color: var(--six-color-clay-50);

  --six-search-color: var(--six-color-action-600);

  --six-sidebar-color: var(--six-color-web-rock-900);
  --six-sidebar-background-color: var(--six-color-white);
  --six-sidebar-hover-background-color: var(--six-color-clay-50);
  --six-sidebar-header-background-color: var(--six-color-clay-50);
  --six-sidebar-item-background-color: var(--six-color-web-rock-50);

  --six-tab-color: var(--six-color-web-rock-900);
  --six-tab-color-active: var(--six-color-web-rock-900);
  --six-tab-color-hover: var(--six-color-web-rock-700);
  --six-tab-color-disabled: var(--six-color-web-rock-400);
  --six-tab-border-color: var(--six-color-white);
  --six-tab-border-width: 3px;
  --six-tab-border-color-active: var(--six-color-web-rock-900);
}

[hidden] {
  display: none !important;
}

.six-scroll-lock {
  overflow: hidden !important;
}

.six-toast-stack {
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--six-z-index-toast);
  display: flex;
  flex-direction: column;
  gap: var(--six-spacing-small);
  margin-top: var(--six-spacing-medium);
  margin-right: var(--six-spacing-medium);
  width: 32rem;
  max-width: 100%;
  max-height: 100%;
}
