.form-control {
  .form-control__label {
    display: none;
  }

  .form-control__help-text {
    display: none;
  }

  .form-control__error-text {
    display: none;
    text-align: left;
  }
}

// Label
.form-control--has-label {
  .form-control__label {
    display: inline-block;
    color: var(--six-input-label-color);
    font-weight: var(--six-font-weight-bold);
    margin-bottom: var(--six-spacing-x-small);
  }

  .form-control__label__required::after {
    color: var(--six-color-danger-800);
    content: '*';
    transform: scale(1.1);
    margin-left: var(--six-spacing-xxx-small);
    position: absolute;
  }

  &.form-control--small .form-control__label {
    font-size: var(--six-input-label-font-size-small);
  }

  &.form-control--medium .form-control__label {
    font-size: var(--six-input-label-font-size-medium);
  }

  &.form-control--large .form-control_label {
    font-size: var(--six-input-label-font-size-large);
  }
}

// Help text
.form-control--has-help-text {
  .form-control__help-text {
    display: block;
    color: var(--six-input-help-text-color);
    margin-top: var(--six-spacing-x-small);

    ::slotted(*) {
      margin-top: var(--six-spacing-xxx-small);
    }
  }

  &.form-control--small .form-control__help-text {
    font-size: var(--six-input-help-text-font-size-small);
  }

  &.form-control--medium .form-control__help-text {
    font-size: var(--six-input-help-text-font-size-medium);
  }

  &.form-control--large .form-control__help-text {
    font-size: var(--six-input-help-text-font-size-large);
  }
}

// Error text
.form-control--has-error-text {
  .form-control__error-text {
    display: block;
    margin-top: var(--six-spacing-xxx-small);

    ::slotted(*) {
      margin-top: var(--six-spacing-xxx-small);
    }
  }

  &.form-control--small .form-control__error-text {
    font-size: var(--six-input-help-text-font-size-small);
  }

  &.form-control--medium .form-control__error-text {
    font-size: var(--six-input-help-text-font-size-medium);
  }

  &.form-control--large .form-control__error-text {
    font-size: var(--six-input-help-text-font-size-large);
  }
}

// Disabled Form Control
.form-control--disabled {
  .form-control__help-text {
    color: var(--six-input-help-text-color-disabled);
  }

  .form-control__label {
    color: var(--six-input-label-color-disabled);
  }
}

// Invalid Form Control
.form-control--invalid:not(.form-control--disabled) {
  .form-control__label {
    color: var(--six-input-label-color);
  }
}
