<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>Breadcrumbs Item</title>
  </head>
  <body>
    <div class="container">
      <p>
        Breadcrumb items are intended for use with the six-breadcrumbs component. For usage details, see the
        <a href="six-breadcrumbs.html">six-breadcrumbs documentation</a>.
      </p>
      <section>
        <six-breadcrumbs>
          <six-breadcrumbs-item>A</six-breadcrumbs-item>
          <six-breadcrumbs-item>B</six-breadcrumbs-item>
          <six-breadcrumbs-item>C</six-breadcrumbs-item>
        </six-breadcrumbs>
      </section>
    </div>
  </body>
</html>
