@use '../../../src/global/component';


:host {
  --item-color: var(--six-color-web-rock-700);
  --item-color-hover: var(--six-color-web-rock-500);
  --last-item-color: var(--six-color-black);
  --separator-color: var(--six-color-web-rock-700);

  &::part(label) {
    padding: unset;
  }

  &::part(base) {
    display: flex;
    align-items: center;
  }

  &::part(separator) {
    align-items: center;
    user-select: none;
    display: flex;
    color: var(--separator-color);
  }

  six-button {

    &::part(base) {
      color: var(--item-color);
    }

    &::part(label) {
      padding-inline: var(--six-spacing-small);
    }

  }

}

:host([read-only]) six-button {
  cursor: default;
}

:host(:last-of-type) {
  &::part(separator) {
    display: none;
  }

  six-button::part(base) {
    color: var(--last-item-color);
    font-weight: bold;
  }
}

:host(:hover) {
  six-button::part(base) {
    color: var(--item-color-hover);
  }
}

