<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-switch</title>
  </head>
  <body>
    <div class="container">
      <p>Switches allow the user to toggle an option on or off.</p>
      <section>
        <six-switch>Switch</six-switch>
      </section>

      <h2>Examples</h2>

      <h3>Checked</h3>
      <p>Use the <code>checked</code> attribute to activate the switch.</p>
      <section>
        <six-switch checked>Checked</six-switch>
      </section>

      <h3>Disabled</h3>
      <p>Use the <code>disabled</code> attribute to disable the switch.</p>
      <section>
        <six-switch checked disabled>Disabled</six-switch>
        <six-switch disabled>Disabled</six-switch>
      </section>

      <h3>Custom Size</h3>
      <p>Use the available custom properties to make the switch a different size.</p>
      <section>
        <six-switch style="--width: 80px; --height: 32px; --thumb-size: 26px"></six-switch>
      </section>
    </div>
  </body>
</html>
