@import '../../../src/global/component';
@import '../../functional-components/form-control/form-control';

/**
 * @prop --width: The width of the switch.
 * @prop --height: The height of the switch.
 * @prop --thumb-size: The size of the thumb.
 */
:host {
  --height: var(--six-selection-control-toggle-size);
  --thumb-size: calc(var(--six-selection-control-toggle-size) - 4px);
  --width: calc(var(--height) * 2);

  display: inline-block;
}

.switch {
  display: inline-flex;
  align-items: center;
  font-family: var(--six-font-family);
  font-size: var(--six-input-font-size-medium);
  font-weight: var(--six-input-font-weight);
  color: var(--six-input-color);
  vertical-align: middle;
  cursor: pointer;
}

.switch__control {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  background-color: var(--six-selection-control-color-disabled);
  border-radius: var(--height);
  transition: var(--six-transition-fast) border-color,
  var(--six-transition-fast) background-color;

  .switch__thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    background-color: var(--six-input-background-color);
    border-radius: 50%;
    transform: translateX(calc(var(--width) / -2 + var(--thumb-size) / 2 - (var(--thumb-size) - var(--height)) / 2));
    transition: var(--six-transition-fast) transform ease,
    var(--six-transition-fast) background-color,
    var(--six-transition-fast) border-color,
    var(--six-transition-fast) box-shadow;
  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
  }
}

// Hover
.switch:not(.switch--checked):not(.switch--disabled) .switch__control:hover {
  background-color: var(--six-input-border-color-hover);
}

// Checked
.switch--checked .switch__control {
  background-color: var(--six-selection-control-color);

  .switch__thumb {
    background-color: var(--six-color-white);
    transform: translateX(calc(var(--width) / 2 - var(--thumb-size) / 2 + (var(--thumb-size) - var(--height)) / 2));
  }
}

// Checked + hover
.switch.switch--checked:not(.switch--disabled) .switch__control:hover {
  background-color: var(--six-input-border-color-focus);
}

// Disabled
.switch--disabled {
  cursor: not-allowed;
  color: var(--six-selection-control-color-disabled);

  .switch__control {
    background-color: var(--six-selection-control-color-disabled);
  }

  &.switch--checked .switch__control {
    background-color: var(--six-selection-control-color-disabled);
  }
}

.switch__label {
  line-height: var(--height);
  margin-left: 0.5em;
  user-select: none;
}
