@use 'src/global/component';
@use 'src/global/mixins/hidden' as *;
@use 'src/global/mixins/scrollbar' as *;

:host {
  display: block;
  height: 100%;
}

.sidebar {
  &__container {
    // scroll
    height: 100%;
    overflow: auto;

    &.sidebar--open {
      border-right: 1px solid var(--six-color-web-rock-300);
    }

    &:not(.sidebar--visible) {
      @include hidden;
    }
  }

  &--left {
    color: var(--six-sidebar-color);
    background-color: var(--six-sidebar-background-color);
    // collapse
    transition: var(--six-transition-medium) margin-left;
    // six background
    background-size: 300vw 70%;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  &--right {
    // collapse
    transition: var(--six-transition-medium) margin-right;
  }

  // if the sidebar is embedded within six-root it cuts-off the border styling, for thus we need to guarante a margin
  &--open {
    &.sidebar--left {
      margin-right: 2px;
    }

    &.sidebar--right {
      margin-left: 2px;
    }
  }
}
