.idea
node_modules
dist
build
www
libraries/ui-library/src/**/readme.md
libraries/**/components.ts
libraries/**/components.d.ts
libraries/ui-library/loader
libraries/ui-library/docs
.angular
stencil-generated
docs/examples
docs/components
docs/.vitepress/cache
docs/.vitepress/dist
