@import 'src/global/component';

:host {
  display: block;
}

.menu {
  padding: var(--six-spacing-xx-small) 0;
  border: none;
  box-shadow: var(--six-shadow-small);
  overflow-y: auto;
  overflow-x: hidden;
}

.menu:focus {
  outline: none;
}

.no-shadow {
  box-shadow: none;
}
