@import 'src/global/component';
@import 'src/global/mixins/scrollbar';

:host {
  display: inline-block;
}

.dropdown {
  position: relative;
}

.dropdown__trigger {
  display: block;
}

.dropdown__positioner {
  position: absolute;
  z-index: var(--six-z-index-dropdown);

  &__filtered {
    width: 100%;
  }
}

.dropdown__panel {
  font-family: var(--six-font-sans);
  font-size: var(--six-font-size-small);
  font-weight: var(--six-font-weight-normal);
  color: var(--color);
  background-color: var(--six-panel-background-color);
  border-radius: var(--six-border-radius-medium);
  border: 1px solid var(--six-color-web-rock-300);
  box-shadow: var(--six-shadow-small);
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  transition:
    var(--six-transition-fast) opacity,
    var(--six-transition-fast) transform;
  max-width: 90vw;
}

.dropdown__panel__scroll {
  max-height: 18.75rem;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: none;

  &--virtual {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

.filter-hidden {
  display: none;
}

.dropdown__positioner {
  &[data-popper-placement^='top'] .dropdown__panel {
    transform-origin: bottom;
  }

  &[data-popper-placement^='bottom'] .dropdown__panel {
    transform-origin: top;
  }

  &[data-popper-placement^='left'] .dropdown__panel {
    transform-origin: right;
  }

  &[data-popper-placement^='right'] .dropdown__panel {
    transform-origin: left;
  }

  &.popover-visible .dropdown__panel {
    opacity: 1;
    transform: none;
    pointer-events: all;
  }
}

.filter {
  border-bottom: 1px solid var(--six-color-web-rock-300);

  &__icon {
    color: var(--six-color-web-rock-600);
  }
}
