<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-sidebar-item</title>
  </head>
  <body>
    <div class="container">
      <h2>six sidebar item</h2>

      <section>
        <div style="width: 10em" id="six-sidebar-items-group">
          <six-sidebar-item value="data">Data</six-sidebar-item>
          <six-sidebar-item value="history">History</six-sidebar-item>
          <six-sidebar-item value="transactions">Transactions</six-sidebar-item>
          <six-sidebar-item value="upload">Upload</six-sidebar-item>
          <six-sidebar-item value="link" href="http://www.google.ch">Link</six-sidebar-item>
        </div>
      </section>
    </div>
  </body>
</html>
