:host {
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

.sidebar-item {
  padding: 8px 8px 16px 16px;
  font-size: 0.9rem;
  color: var(--six-sidebar-color);
  cursor: pointer;
  font-family: var(--six-font-family);

  &:hover:not(.sidebar-item--disabled) {
    color: var(--six-color-web-rock-600);
  }

  &.sidebar-item--disabled {
    outline: none;
    color: var(--six-input-color-disabled);
    cursor: not-allowed;
  }

  &.sidebar-item--selected {
    font-weight: var(--six-font-weight-bold);
  }
}
