<six-root [padded]="false" *ngIf="tasks$ | async as tasks">
  <app-header
    [open]="leftSidebarOpen"
    [taskCount]="tasks.length"
    slot="header"
    (rightSidebarToggled)="rightSidebarOpen = !rightSidebarOpen"
    (leftSidebarToggled)="leftSidebarOpen = !leftSidebarOpen"
  ></app-header>
  <app-left-sidebar slot="left-sidebar" [open]="leftSidebarOpen"></app-left-sidebar>
  <app-right-sidebar slot="right-sidebar" [open]="rightSidebarOpen" [tasks]="tasks"></app-right-sidebar>
  <section slot="main">
    <router-outlet></router-outlet>
  </section>
</six-root>

<six-dialog #dialog [label]="dialogContent.label">
  <pre class="event">{{ dialogContent.text | json }}</pre>
  <six-button slot="footer" type="primary" (click)="closeDialog()">Close</six-button>
</six-dialog>
