:host {
  display: block;
  height: 100%;
}

[slot='right-sidebar'] six-sidebar {
  background: var(--six-color-web-rock-600);
}

[slot='main'] {
  padding-left: var(--six-spacing-xxx-large);
  padding-right: var(--six-spacing-xxx-large);
  padding-top: var(--six-spacing-xx-large);
}

pre {
  background-color: var(--six-color-web-rock-100);
  padding: var(--six-spacing-medium);
}
