.language-switcher {
  &__container {
    display: flex;
  }

  &__separator {
    padding: 0 0.25rem;
  }

  &__label {
    cursor: pointer;

    &:hover {
      color: var(--six-language-switcher-color-hover);
    }

    &:focus-visible {
      outline: var(--six-focus-ring);
      outline-offset: var(--six-focus-ring-offset);
    }

    &--selected {
      color: var(--six-language-switcher-color-selected);
      text-decoration: underline;
    }
  }
}
