<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-menu-label</title>
  </head>
  <body>
    <div class="container">
      <h2>Menu Label</h2>
      <p>Menu labels are used to describe a group of menu items.</p>
      <section>
        <six-menu
          style="
            max-width: 200px;
            border: solid 1px var(--six-panel-border-color);
            border-radius: var(--six-border-radius-medium);
          "
        >
          <six-menu-label>Fruits</six-menu-label>
          <six-menu-item value="apple">Apple</six-menu-item>
          <six-menu-item value="banana">Banana</six-menu-item>
          <six-menu-item value="orange">Orange</six-menu-item>
          <six-menu-divider></six-menu-divider>
          <six-menu-label>Vegetables</six-menu-label>
          <six-menu-item value="broccoli">Broccoli</six-menu-item>
          <six-menu-item value="carrot">Carrot</six-menu-item>
          <six-menu-item value="zucchini">Zucchini</six-menu-item>
        </six-menu>
      </section>
    </div>
  </body>
</html>
