@import 'src/global/component';

:host {
  display: block;
}

.six-sidebar-item-group {
  --horizontal-padding: var(--six-spacing-large);
  &::part(content) {
    padding: var(--six-spacing-medium) 0 var(--six-spacing-medium) var(--six-spacing-medium) !important;
  }
}

.six-sidebar-item-group--childless::part(content) {
  padding: 0 !important;
}

.six-sidebar-item-group--subgroup::part(header) {
  background-color: transparent !important;
  padding: var(--six-spacing-small) var(--six-spacing-large) var(--six-spacing-small) var(--six-spacing-medium) !important;
  margin-left: var(--six-spacing-xx-small);
}

.six-sidebar-item-group__header-icon {
  margin-left: 16px;
  transform: translate(0px, -3px);
}

.six-sidebar-details__header {
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.six-sidebar-details__header-icon {
  margin-right: var(--six-spacing-medium);
}

.six-sidebar-details__link {
  text-decoration: none;
  display: block;
  color: inherit;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--six-focus-ring);
    outline-offset: calc(-1 * var(--six-focus-ring-offset));
  }
}
