<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-tab-group</title>
  </head>
  <body>
    <div class="container">
      <p>
        Tab panels are used inside tab groups to display content.<br />
        Additional demonstrations can be found in the <a href="six-tab-group.html">tab group examples</a>.
      </p>
      <section>
        <six-tab-group>
          <six-tab slot="nav" panel="general">General</six-tab>
          <six-tab slot="nav" panel="custom">Custom</six-tab>
          <six-tab slot="nav" panel="advanced">Advanced</six-tab>
          <six-tab slot="nav" panel="disabled" disabled>Disabled</six-tab>

          <six-tab-panel name="general">This is the general tab panel.</six-tab-panel>
          <six-tab-panel name="custom">This is the custom tab panel.</six-tab-panel>
          <six-tab-panel name="advanced">This is the advanced tab panel.</six-tab-panel>
          <six-tab-panel name="disabled">This is a disabled tab panel.</six-tab-panel>
        </six-tab-group>
      </section>
    </div>
  </body>
</html>
