<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-checkbox</title>
  </head>
  <body>
    <div class="container">
      <p>Checkboxes allow the user to toggle an option on or off.</p>
      <section>
        <six-checkbox>Checkbox</six-checkbox>
      </section>

      <h2>Examples</h2>

      <h3>Checked</h3>
      <p>Use the <code>checked</code> attribute to activate the checkbox.</p>
      <section>
        <six-checkbox checked>Checked</six-checkbox>
      </section>

      <h3>Indeterminate</h3>
      <p>Use the <code>indeterminate</code> attribute to make the checkbox indeterminate.</p>
      <section>
        <six-checkbox indeterminate>Indeterminate</six-checkbox>
      </section>

      <h3>Disabled</h3>
      <p>Use the <code>disabled</code> attribute to disable the checkbox.</p>
      <section>
        <six-checkbox checked disabled>Disabled</six-checkbox>
        <six-checkbox indeterminate disabled>Disabled</six-checkbox>
        <six-checkbox disabled>Disabled</six-checkbox>
      </section>

      <h3>Labels</h3>
      <p>
        Use the <code>label</code> attribute to give the checkbox an accessible label. For labels that contain HTML, use
        the <code>label</code>slot instead.
      </p>

      <section>
        <six-checkbox label="Terms and conditions">I totally agree</six-checkbox>
        <br />
        <br />
        <six-checkbox>
          <div slot="label">Terms <span style="color: red">and</span> conditions</div>
          I totally agree
        </six-checkbox>
      </section>

      <h2>Error Text</h2>

      <p>Add a descriptive error message using either the <code>error-text</code> prop, or the equally named slot.</p>

      <six-alert type="warning" open>
        <six-icon slot="icon">warning</six-icon>
        There are two caveats when using the <code>error-text</code> prop/slot:
        <ol>
          <li>
            Remember to set the <code>invalid</code> prop as well! If you only provide some content to the
            <code>error-text</code> prop/slot, it won't be shown unless the <code>invalid</code> prop is set to true
          </li>
          <li>
            When using the prop, and you need to show more than one message, remember to also set the
            <code>error-text-count</code> prop to a value that is the same or bigger than the length of the list of
            messages you are using. Otherwise only one message will be shown at a time
          </li>
        </ol>
      </six-alert>

      <p>The <code>error-text</code> prop accepts either a simple string message, or a list of messages.</p>

      <section class="demo">
        <six-checkbox label="Simple string message" error-text="This is a simple string message" invalid>
        </six-checkbox>
      </section>

      <section class="demo">
        <six-checkbox id="multiple-error-text" label="List of string message" invalid></six-checkbox>
        <script type="module">
          const sixCheckbox = document.getElementById('multiple-error-text');
          sixCheckbox.errorText = ['Message 1', 'Message 2'];
          sixCheckbox.errorTextCount = 3;
        </script>
      </section>

      <p>
        When using the <code>error-text</code> slot, it is recommended to use the <code>six-error</code> component to
        wrap the error message(s). This will provide the correct styling out of the box
      </p>
      <section class="demo">
        <six-checkbox invalid>
          <div slot="error-text">
            <six-error
              >An error message
              <a href="https://github.com/six-group/six-webcomponents" target="_blank">with a link</a></six-error
            >
          </div>
        </six-checkbox>
      </section>
    </div>
  </body>
</html>
