<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-checkbox</title>
  </head>
  <body>
    <div class="container">
      <p>Checkboxes allow the user to toggle an option on or off.</p>
      <section class="demo">
        <six-checkbox>Checkbox</six-checkbox>
      </section>

      <p class="warn">
        This component doesn't work with standard forms. Use <a href="six-form.html">six-form</a> instead.
      </p>

      <p class="warn">
        Please refer to the section on <a href="six-form.html#form-control-validation">form control validation</a> to
        learn how to do client-side validation.
      </p>

      <h2>Examples</h2>

      <h3>Checked</h3>
      <p>Use the <code>checked</code> attribute to activate the checkbox.</p>
      <section class="demo">
        <six-checkbox checked>Checked</six-checkbox>
      </section>

      <h3>Indeterminate</h3>
      <p>Use the <code>indeterminate</code> attribute to make the checkbox indeterminate.</p>
      <section class="demo">
        <six-checkbox indeterminate>Indeterminate</six-checkbox>
      </section>

      <h3>Disabled</h3>
      <p>Use the <code>disabled</code> attribute to disable the checkbox.</p>
      <section class="demo">
        <six-checkbox checked disabled>Disabled</six-checkbox>
        <six-checkbox indeterminate disabled>Disabled</six-checkbox>
        <six-checkbox disabled>Disabled</six-checkbox>
      </section>

      <h3>Labels</h3>
      <p>
        Use the <code>label</code> attribute to give the checkbox an accessible label. For labels that contain HTML, use
        the <code>label</code>slot instead.
      </p>

      <section class="demo">
        <six-checkbox label="Terms and conditions">I totally agree</six-checkbox>
        <br />
        <br />
        <six-checkbox>
          <div slot="label">Terms <span style="color: red">and</span> conditions</div>
          I totally agree
        </six-checkbox>
      </section>
    </div>
  </body>
</html>
