<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-header</title>
  </head>
  <body>
    <div class="container">
      <p>
        The <code>six-header</code> component is designed to be used within the <code>header</code> slot of the
        <code>six-root</code> component.
      </p>
      <p>Compose your header using <code>six-header-item</code> and <code>six-header-dropdown-item</code> elements.</p>
      <p>
        While the SIX logo must always appear, all other elements are optional. If additional elements are added, follow
        this order:
      </p>
      <ol>
        <li>Hamburger Menu</li>
        <li>SIX Logo</li>
        <li>Custom Items</li>
        <li>(--- Right-aligned elements start here ---)</li>
        <li>Search Icon</li>
        <li>Notifications</li>
        <li>App Switcher</li>
        <li>Profile</li>
      </ol>

      <h3>Simple Example</h3>
      <p>
        Use <code>six-header-item</code> to add items. To align elements to the right, simply apply the style
        <code>margin-left: auto</code>. For dropdown menus, use <code>six-header-dropdown-item</code>. The dropdown item
        will be marked as active (with a black bottom border) when open.
      </p>
      <section>
        <six-header>
          <!-- logo -->
          <six-header-item>
            <six-icon-button href="">
              <six-logo></six-logo>
            </six-icon-button>
          </six-header-item>

          <!-- Profile -->
          <six-header-dropdown-item style="margin-left: auto">
            <six-icon-button slot="trigger">
              <six-avatar
                image="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-1.2.1&auto=format&fit=crop&w=300&q=80"
              >
              </six-avatar>
            </six-icon-button>
            <six-menu>
              <six-menu-item>Logout</six-menu-item>
            </six-menu>
          </six-header-dropdown-item>
        </six-header>
      </section>

      <h3>Full Example</h3>
      <p>
        Items in <code>six-header</code> reside within a flex container. Use flex properties to adjust the width of
        custom elements. For instance, applying <code>flex: 1 0 0</code> will allow an element to fill the remaining
        space.
      </p>

      <section>
        <six-header>
          <!-- hamburger menu -->
          <six-header-item>
            <six-icon-button name="menu"></six-icon-button>
          </six-header-item>

          <!-- logo -->
          <six-header-item>
            <six-icon-button href="">
              <six-logo></six-logo>
            </six-icon-button>
          </six-header-item>

          <!-- Selection -->
          <six-header-item style="flex: 1 0 0">
            <six-select value="option-1" style="width: 100%">
              <six-menu-item value="option-1">Option 1</six-menu-item>
              <six-menu-item value="option-2">Option 2</six-menu-item>
              <six-menu-item value="option-3">Option 3</six-menu-item>
            </six-select>
          </six-header-item>

          <!-- Search -->
          <six-header-item id="search-header-item">
            <six-icon-button name="search"></six-icon-button>
          </six-header-item>

          <!-- Notifications -->
          <six-header-item>
            <six-icon-button name="notifications_none">
              <six-badge type="danger" pill>2</six-badge>
            </six-icon-button>
          </six-header-item>

          <!-- App Switcher -->
          <six-header-dropdown-item>
            <six-header-menu-button slot="trigger" icon="apps">Custody</six-header-menu-button>
            <six-menu>
              <six-menu-item checked>Custody</six-menu-item>
              <six-menu-item>Swiss Interbank Clearing</six-menu-item>
              <six-menu-item>Tri-Party Agent</six-menu-item>
              <six-menu-item>Financial Information</six-menu-item>
            </six-menu>
          </six-header-dropdown-item>

          <!-- Profile -->
          <six-header-dropdown-item>
            <six-icon-button slot="trigger">
              <six-avatar
                image="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-1.2.1&auto=format&fit=crop&w=300&q=80"
              >
              </six-avatar>
            </six-icon-button>
            <six-menu>
              <six-menu-item><b>Cat Kittens</b><br />cat.kitty.kittens@themCatsBeCool.com</six-menu-item>
              <six-menu-item><b>Language</b><br /><six-language-switcher></six-language-switcher></six-menu-item>
              <six-menu-item>Change password</six-menu-item>
              <six-menu-item>Logout</six-menu-item>
            </six-menu>
          </six-header-dropdown-item>
        </six-header>
        <div></div>
      </section>
    </div>
  </body>
</html>
