@import 'src/global/component';

:host {
  display: block;
  user-select: none;
  --search-border-width: 1px;
}

::slotted(six-search-field) {
  position: absolute;
  margin-left: var(--search-border-width);
  width: calc(100% - 2 * var(--search-border-width));
}

.six-header {
  display: flex;
  width: 100%;
  height: var(--six-header-height);
  background-color: var(--six-header-background-color);
  align-items: stretch;
  box-shadow: var(--six-shadow-medium);
  border-bottom: var(--six-header-border-with) solid var(--six-header-border-color);

  &__logo {
    &--clickable {
      cursor: pointer;
    }
  }

  &__placeholder {
    flex: 1;
  }

  &__app-switcher-dropdown {
    display: flex;
    align-items: center;
  }

  &__selected-app {
    cursor: pointer;
    font-size: var(--six-font-size-small);
    font-weight: var(--six-font-weight-bold);
    padding-right: 0;
    padding-left: var(--six-spacing-x-small);
    &:hover {
      color: var(--six-header-selected-app-color-hover);
    }
  }

  &__search-field {
    opacity: 0;
    transform: scale(0.9);
    transition: var(--six-transition-fast) opacity, var(--six-transition-fast) transform;
    display: none;

    &--visible {
      opacity: 1;
      transform: none;
      display: block;
    }

    &--shift-content.six-header__search-field--visible {
      height: 2.65rem;
      transition: var(--six-transition-fast) height;
    }

    &--shift-content:not(.six-header__search-field--visible) {
      height: 0;
      transition: var(--six-transition-fast) height;
    }
  }
}
