.err {
  font-size: .9rem;
  color: red;
}

.form-test {
  &__actions {
    margin-top: 1rem;

    six-button {
      margin-right: 0.25rem;
    }
  }
}

.form {
  &__status {
    color: white;
    padding: 0.5rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    width: 9.5rem;

    &--valid {
      background: green;
    }

    &--invalid {
      background: red;
    }
  }
}
