@import 'src/global/component';

:host {
  display: inline-block;
}

.tag {
  display: flex;
  align-items: center;
  border: solid 1px;
  font-family: var(--six-font-family);
  line-height: 1;
  white-space: nowrap;
  user-select: none;
  cursor: default;
}

.tag__clear::part(base) {
  color: inherit;
  padding: 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Type modifiers
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.tag--info {
  color: var(--six-color-white);
  background-color: var(--six-color-web-rock-900);
  border-color: var(--six-color-web-rock-900);
}

.tag--success {
  color: var(--six-color-web-rock-900);
  border-color: var(--six-color-success-500);
  background-color: var(--six-color-success-500);
}

.tag--primary {
  color: var(--six-color-web-rock-900);
  border-color: var(--six-color-clay-50);
  background-color: var(--six-color-clay-50);
}

.tag--warning {
  color: var(--six-color-web-rock-900);
  border-color: var(--six-color-warning-700);
  background-color: var(--six-color-warning-700);
}

.tag--danger {
  color: var(--six-color-white);
  border-color: var(--six-color-danger-800);
  background-color: var(--six-color-danger-800);
}

.tag--action {
  color: var(--six-color-white);
  border-color: var(--six-color-action-500);
  background-color: var(--six-color-action-500);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Size modifiers
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.tag--small {
  font-size: var(--six-button-font-size-small);
  height: calc(var(--six-height-small) * 0.8);
  line-height: calc(var(--six-height-small) - var(--six-border-width) * 2);
  border-radius: var(--six-input-border-radius-small);
  padding: 0 var(--six-spacing-x-small);

  .tag__clear {
    margin-left: var(--six-spacing-xx-small);
    margin-right: calc(-1 * var(--six-spacing-xxx-small));
  }
}

.tag--medium {
  font-size: var(--six-button-font-size-medium);
  height: calc(var(--six-height-medium) * 0.8);
  line-height: calc(var(--six-height-medium) - var(--six-border-width) * 2);
  border-radius: var(--six-input-border-radius-medium);
  padding: 0 var(--six-spacing-small);

  .tag__clear {
    margin-left: var(--six-spacing-xx-small);
    margin-right: calc(-1 * var(--six-spacing-xx-small));
  }
}

.tag--large {
  font-size: var(--six-button-font-size-large);
  height: calc(var(--six-height-large) * 0.8);
  line-height: calc(var(--six-height-large) - var(--six-border-width) * 2);
  border-radius: var(--six-input-border-radius-large);
  padding: 0 var(--six-spacing-medium);

  .tag__clear {
    margin-left: var(--six-spacing-xx-small);
    margin-right: calc(-1 * var(--six-spacing-x-small));
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Pill modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.tag--pill {
  border-radius: var(--six-border-radius-pill);
}
