<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-tile</title>
  </head>
  <body>
    <div class="container">
      <h2>Tile</h2>

      <p>Simple tile implementation.</p>

      <section>
        <six-tile id="tileFancy" label="Fancy Tile" icon-name="favorite"></six-tile>
        <script type="module">
          const tile = document.querySelector('#tileFancy');
          tile.addEventListener('six-tile-selected', () => alert('hello fancy tile!'));
        </script>
      </section>

      <h2>Examples</h2>

      <h3>Sizes</h3>
      <p>Use the <code>size</code> attribute to change the size of the tile.</p>

      <section
        class="demo"
        style="
          display: grid;
          grid-gap: 5px;
          grid-template-columns: auto auto auto;
          justify-content: left;
          align-items: center;
        "
      >
        <six-tile label="Small" icon-name="home" size="small"></six-tile>
        <six-tile label="Medium" icon-name="home"></six-tile>
        <six-tile label="Large" icon-name="home" size="large"></six-tile>
      </section>

      <h3>Closeable</h3>
      <p>Use the <code>closeable</code> attribute to avoid that the tile is closable.</p>
      <section>
        <six-tile label="Medium" icon-name="home" closeable="false"></six-tile>
      </section>

      <h3>Elevated</h3>
      <p>Use the <code>elevated</code> attribute to let the tile cast a shadow.</p>
      <section>
        <six-tile label="Medium" icon-name="home" elevated="true"></six-tile>
      </section>

      <h3>Disabled</h3>
      <p>Use the <code>disabled</code> attribute to avoid that the tile is clicked.</p>
      <section>
        <six-tile label="Medium" icon-name="home" disabled="true"></six-tile>
      </section>

      <h3>Passing props via slot</h3>
      <p>
        In some cases you might need to have more control over how the icon or label is displayed. In these scenarios
        use the slot over the props.
      </p>
      <section>
        <six-tile id="tileWithLabelSlot" icon-name="home">
          <div slot="label" style="text-align: center; min-height: 4em">
            <div>some very long label</div>
            <div>which requires</div>
            <div>multiple lines</div>
          </div>
        </six-tile>
        <six-tile id="tileWithIconSlot" sixTileSelected="alert('clicked')">
          <six-icon slot="icon" size="xxLarge" style="color: red">delete</six-icon>
          <div slot="label" style="text-align: center; min-height: 4em; align-items: center; display: flex">
            short label
          </div>
        </six-tile>
        <script type="module">
          const tile1 = document.querySelector('#tileWithIconSlot');
          tile1.addEventListener('six-tile-selected', () => alert('hello custom icon tile!'));

          const tile2 = document.querySelector('#tileWithLabelSlot');
          tile2.addEventListener('six-tile-selected', () => alert('hello custom label tile!'));
        </script>
      </section>

      <h2>Adding a tooltip</h2>

      <p>If you wish to show a tooltip on hover, simply add the attribute <code>disable-tooltip="false"</code></p>

      <section>
        <six-tile label="Fancy Tile" icon-name="favorite" disable-tooltip="false"></six-tile>
      </section>
    </div>
  </body>
</html>
