.item_picker {
  &__container {
    width: 2.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &:focus-visible {
      outline: var(--six-focus-ring);
      outline-offset: 0;
    }
  }

  &__content {
    font-size: 1.5rem;
  }

  &__btn {
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--six-color-web-rock-500);

    &:hover {
      background-color: var(--six-color-web-rock-100);
      border-radius: 100%;
    }

    &:active {
      color: var(--six-color-web-rock-400);
    }

    &--disabled {
      color: var(--six-color-web-rock-300);
      cursor: not-allowed;

      &:hover {
        background-color: initial;
      }

      &:active {
        color: var(--six-color-web-rock-300);
      }
    }

    &:focus-visible {
      outline: var(--six-focus-ring);
      outline-offset: 0;
    }
  }
}
