@import 'src/global/component';

$over-color: var(--six-color-action-light-to-be-defined);
$disabled-color: var(--six-color-inactive);
$transition: 0.3s;
$margin: 1rem;

:host {
  position: static;
  display: block;
}

.six-file-upload {
  six-card {
    box-shadow: none;
    padding: 0;
    width: 100%;

    &.kyc-file-upload__container--compact {
      width: inherit;
    }
  }

  &__label {
    &--highlighted {
      color: var(--six-color-action-600);
    }
  }

  &__container {
    &--full {
      border: dashed 1px var(--six-color-web-rock-500);
    }
  }

  &__drop-zone {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: background-color $transition;

    &--compact {
      padding: 0;
    }
  }

  &__input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    user-select: none;
    height: 100%;
    opacity: 0;
    outline: none;
  }

  &--disabled &__drop-zone {
    background-color: $disabled-color;
  }

  &:not(.six-file-upload--disabled) &__drop-zone:hover,
  &__drop-zone--hover {
    background-color: $over-color;

    &.six-file-upload__drop-zone--compact {
      background-color: inherit;
    }
  }

  &--disabled &__input {
    cursor: not-allowed;
  }
}
