/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #de3919;
$textColor = #717171;
$borderColor = #dcdcdc;
$codeBgColor = #282c34;

$contentWidth = 100%
