/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

textarea {
  font-family: 'Noto Sans Mono', monospace;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  padding: 0;
  margin: 0;
  text-indent: 0;
  list-style-type: none;
}

dd,
dt {
  padding: 0;
  margin: 0;
}

six-badge:not([type='danger'])::part(base) {
  background: none;
}

[slot='main'] {
  padding-left: var(--six-spacing-xxx-large);
  padding-right: var(--six-spacing-xxx-large);
  padding-top: var(--six-spacing-xx-large);
}

@import '@six-group/ui-library/dist/ui-library/ui-library.css';
