.home-root {
  display: block;
  height: 100%;
}

.main-padding {
  padding-left: var(--six-spacing-xxx-large);
  padding-right: var(--six-spacing-xxx-large);
  padding-top: var(--six-spacing-xx-large);
}
