<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>Breadcrumbs</title>
  </head>
  <body>
    <h1>Breadcrumbs</h1>
    <div class="container">
      <section>
        <p>Character / as separators</p>
        <six-breadcrumbs>
          <span slot="separator">/</span>
          <six-breadcrumbs-item>A</six-breadcrumbs-item>
          <six-breadcrumbs-item>B</six-breadcrumbs-item>
          <six-breadcrumbs-item>C</six-breadcrumbs-item>
        </six-breadcrumbs>

        <p>six-icon as separators and with a prefix</p>
        <six-breadcrumbs>
          <six-icon slot="separator" size="small">arrow_forward</six-icon>
          <six-breadcrumbs-item href="http://six-group.com" target="_blank">
            <six-icon slot="prefix" size="small">house</six-icon>
            Home
          </six-breadcrumbs-item>
          <six-breadcrumbs-item href="http://six-group.com" target="_blank">A</six-breadcrumbs-item>
          <six-breadcrumbs-item href="http://six-group.com" target="_blank">B</six-breadcrumbs-item>
          <six-breadcrumbs-item href="http://six-group.com" target="_blank">Current</six-breadcrumbs-item>
        </six-breadcrumbs>
      </section>
    </div>
  </body>
</html>
