@import '../../../src/global/component';

:host {
  --six-breadcrumbs-background-color: var(--six-color-web-rock-200);
  --six-breadcrumbs-padding: var(--six-spacing-xx-small);
  --six-breadcrumbs-margin: var(--six-spacing-xxx-small);
  --six-breadcrumbs-color: var(--six-color-web-rock-500);

  // ---

  display: block;
  background-color: var(--six-breadcrumbs-background-color);

  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: inherit;
    color: var(--six-breadcrumbs-color) !important;
    padding: var(--six-breadcrumbs-padding);

    ::slotted(six-breadcrumbs-item) {
      --six-breadcrumbs-item-margin: var(--six-breadcrumbs-margin);
    }

  }
}
