<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-header-item</title>
  </head>
  <body>
    <div class="container">
      <h2>Header Item</h2>
      <p>Child elements for header.</p>
      <section>
        <six-header-item>
          <six-icon-button name="search"></six-icon-button>
        </six-header-item>
      </section>

      <h3>Active State</h3>
      <p>Set the active attribute to display a border below the item.</p>
      <section>
        <six-header-item active>
          <six-icon-button name="search"></six-icon-button>
        </six-header-item>
      </section>
    </div>
  </body>
</html>
