<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-datepicker</title>
  </head>
  <body>
    <div class="container">
      <h2>Examples</h2>

      <h3>Date Picker</h3>
      <section class="demo">
        <six-datepicker id="daterange-picker" type="date-time" > </six-datepicker>
      </section>
      <h3>Date Ranges</h3>
      <section class="demo">
        <six-datepicker id="daterange-picker" type="date-range" date-format="dd/mm/yyyy"> </six-datepicker>
        <script type="module">
          const sixDatePicker = document.getElementById('daterange-picker');
          sixDatePicker.range = { from: new Date(), to: new Date() };
          </script>
      </section>
      <h3>Date Time Ranges</h3>
      <section class="demo">
  <six-datepicker id="daterange-picker" type="date-time-range" date-format="dd/mm/yyyy hh:MM:ss"> </six-datepicker>
        <script type="module">
          const sixDatePicker = document.getElementById('daterange-picker');
          sixDatePicker.range = { from: new Date(), to: new Date() };
          </script>
      </section>

    </div>
  </div>
  </body>
</html>
