@import 'src/global/component';

/**
 * @prop --track-color: The color of the spinner's track.
 * @prop --indicator-color: The color of the spinner's indicator.
 * @prop --stroke-width: The width of the indicator.
 */
:host {
  --track-color: var(--six-progress-track-color);
  --indicator-color: var(--six-progress-indicator-color);
  --stroke-width: 2px;

  display: inline-flex;
  font-size: 40px;
}

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: solid var(--stroke-width) var(--track-color);
  border-top-color: var(--indicator-color);
  border-right-color: var(--indicator-color);
  animation: 1s linear infinite spin;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.six-spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 0;

  &__container svg {
    display: block;
  }

  path {
    stroke-dashoffset: 70px;
    stroke-dasharray: 70, 444;
    -webkit-animation: six-spinner 2s cubic-bezier(0.56, 0.39, 0.51, 0.96) infinite;
    animation: six-spinner 2s cubic-bezier(0.56, 0.39, 0.51, 0.96) infinite;
  }

  polygon {
    stroke-dasharray: 310;
    stroke-dashoffset: 310;
    animation: big-polygon-draw 2s ease-in-out infinite;
    -webkit-animation: big-polygon-draw 2s ease-in-out infinite;
  }

  polygon:nth-child(2),
  polygon:nth-child(3) {
    stroke-dasharray: 110;
    stroke-dashoffset: 110;
    animation: small-polygon-draw 2s ease-in-out infinite;
    -webkit-animation: small-polygon-draw 2s ease-in-out infinite;
  }

  @keyframes big-polygon-draw {
    0%,
    100% {
      stroke-dashoffset: 310;
    }
    50% {
      stroke-dashoffset: 140;
    }
  }

  @-webkit-keyframes big-polygon-draw {
    0%,
    100% {
      stroke-dashoffset: 310;
    }
    50% {
      stroke-dashoffset: 140;
    }
  }

  @keyframes small-polygon-draw {
    0%,
    100% {
      stroke-dashoffset: 110;
    }
    50% {
      stroke-dashoffset: 50;
    }
  }

  @-webkit-keyframes small-polygon-draw {
    0%,
    100% {
      stroke-dashoffset: 110;
    }
    50% {
      stroke-dashoffset: 50;
    }
  }

  @-webkit-keyframes six-spinner {
    to {
      stroke-dashoffset: -444;
    }
  }

  @keyframes six-spinner {
    to {
      stroke-dashoffset: -444;
    }
  }
}
