@import 'src/global/component';
@import 'src/global/mixins/hide-scrollbar';

:host {
  display: block;
}

.tab-group {
  display: flex;
  border: solid 1px transparent;
  border-radius: 0;

  .tab-group__tabs {
    display: flex;
    position: relative;
  }
}

.tab-group--has-scroll-controls .tab-group__nav-container {
  position: relative;
  padding: 0 var(--six-spacing-x-large);
}

.tab-group__scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--six-spacing-x-large);
}

.tab-group__scroll-button--left {
  left: 0;
}

.tab-group__scroll-button--right {
  right: 0;
}

// TOP
.tab-group--top {
  flex-direction: column;

  .tab-group__nav-container {
    order: 1;
  }

  .tab-group__nav {
    display: flex;
    overflow-x: auto;
    @include hide-scrollbar();
  }

  .tab-group__tabs {
    flex: 1 1 auto;
    position: relative;
    flex-direction: row;
  }

  .tab-group__body {
    order: 2;
  }
}

// Bottom
.tab-group--bottom {
  flex-direction: column;

  .tab-group__nav-container {
    order: 2;
  }

  .tab-group__nav {
    display: flex;
    overflow-x: auto;
    @include hide-scrollbar();
  }

  .tab-group__tabs {
    flex: 1 1 auto;
    position: relative;
    flex-direction: row;
  }

  .tab-group__body {
    order: 1;
  }
}

// Left

.tab-group--left {
  flex-direction: row;

  .tab-group__nav-container {
    order: 1;
  }

  .tab-group__tabs {
    flex: 0 0 auto;
    flex-direction: column;
  }

  .tab-group__body {
    flex: 1 1 auto;
    order: 2;
  }
}

// Right
.tab-group--right {
  flex-direction: row;

  .tab-group__nav-container {
    order: 2;
  }

  .tab-group__tabs {
    flex: 0 0 auto;
    flex-direction: column;
  }

  .tab-group__body {
    flex: 1 1 auto;
    order: 1;
  }
}
