@use 'src/global/component';

:host {
  display: block;
}

.menu-divider {
  border-top: solid var(--six-border-width) var(--six-menu-divider-color);
  margin-top: var(--six-spacing-xx-small);
  margin-bottom: var(--six-spacing-xx-small);
}
