@import 'src/global/component';

:host {
  display: block;
}

.six-footer {
  color: var(--six-footer-color);
  padding: var(--six-spacing-x-small) 0;
  text-align: center;
  width: 100%;
  background-color: var(--six-footer-background-color);
  box-shadow: var(--six-shadow-medium-top);
}
