@import '@six-group/ui-library/dist/ui-library/ui-library.css';

/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 --vp-code-block-color
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand-1: #de3919;
  --vp-c-brand-2: #e83c1a;
  --vp-c-brand-3: #f23f1b;
  --vp-c-brand-soft: #f7401b;
  --vp-nav-logo-height: 14px;
  --vp-local-search-highlight-bg: none;
  --vp-local-search-highlight-text: var(--vp-c-brand-1);
  --vp-code-block-bg: #f6f6f7;
  --vp-code-bg: #f6f6f7;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-border: var(--vp-c-brand-2);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: var(--vp-c-brand-2);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/* overwrite rounded design to follow six design (apart from the examples) */
*:not(.example) {
  border-radius: 0 !important;
}

/* overwrite to match color of vitepress code background */
code {
  background: var(--vp-code-bg);
}
