@import "@six-group/ui-library/dist/ui-library/ui-library.css";

/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand: #de3919;
  --vp-c-brand-light: #e83c1a;
  --vp-c-brand-lighter: #f23f1b;
  --vp-c-brand-lightest: #f7401b;
  --vp-c-brand-dark: #d13617;
  --vp-c-brand-darker: #bd3115;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
  --vp-nav-logo-height: 14px;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}
