<h2>Alert</h2>

<h3>Toast Notifications</h3>
<section>
  <form [formGroup]="form" sixForm (sixSubmit)="onSubmit()">
    <six-layout-grid>
      <six-select style="grid-column: span 12" label="AlertType" formControlName="alertType">
        <six-menu-item value="primary">Primary</six-menu-item>
        <six-menu-item value="success">Success</six-menu-item>
        <six-menu-item value="info">Info</six-menu-item>
        <six-menu-item value="warning">Warning</six-menu-item>
        <six-menu-item value="danger">Danger</six-menu-item>
      </six-select>
      <six-input style="grid-column: span 12" label="Message" formControlName="message"></six-input>
      <six-button submit>Show Toast</six-button>
    </six-layout-grid>
  </form>
</section>

<h3>Custom Toast Notifications</h3>
<section>
  <div class="buttons">
    <six-button type="primary" (click)="customAlert.toast()">Show Custom Toast</six-button>
  </div>

  <six-alert #customAlert type="danger" duration="5000" closable>
    <six-icon slot="icon">report</six-icon>
    <strong>A custom Alert</strong><br />
    If you want to use <i>html</i> in your alert message.
  </six-alert>
</section>
