<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-header-dropdown-item</title>
  </head>
  <body>
    <div class="container">
      <h2>Header Dropdown Item</h2>
      <p>
        Header dropdown items provide dropdown elements in the header. Sets the active flag (bottom border) when the
        dropdown is open.
      </p>
      <section>
        <six-header>
          <six-header-item>
            <six-logo></six-logo>
          </six-header-item>

          <six-header-dropdown-item>
            <six-icon-button slot="trigger" name="settings"></six-icon-button>
            <six-menu>
              <six-menu-item>Option A</six-menu-item>
              <six-menu-item>Option B</six-menu-item>
              <six-menu-item>Option C</six-menu-item>
            </six-menu>
          </six-header-dropdown-item>
        </six-header>
      </section>
    </div>
  </body>
</html>
