:host {
  div {
    height: 24px;
    width: 24px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
  }

  div.is-size-xSmall {
    height: 12px;
    width: 12px;
  }

  div.is-size-small {
    height: 18px;
    width: 18px;
  }

  div.is-size-medium {
    height: 24px;
    width: 24px;
  }

  div.is-size-large {
    height: 36px;
    width: 36px;
  }

  div.is-size-xLarge {
    height: 48px;
    width: 48px;
  }

  div.is-size-xxLarge {
    height: 72px;
    width: 72px;
  }

  div.is-size-xxxLarge {
    height: 96px;
    width: 96px;
  }

  div.is-size-4xl {
    height: 250px;
    width: 250px;
  }
}
