:host {
  display: block;
}

six-button::part(base) {
  border: none;
  padding-right: 0;
}

six-button[disabled]::part(base) {
  color: var(--six-color-web-rock-600);
  background-color: transparent;
}

six-button::part(label) {
  border: none;
  font-weight: var(--six-font-weight-bold);
  font-size: var(--six-font-size-small);
  padding-left: 0;
}

six-button:focus::part(base),
six-button:hover::part(base),
six-button:active::part(base) {
  background-color: initial;
  border-color: initial;
}

six-button:hover::part(base),
six-button:active::part(base) {
  color: var(--six-header-selected-app-color-hover);
}
