<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-card</title>
  </head>
  <body>
    <div class="container">
      <section>
        <h3>Basic Usage</h3>
        <div style="max-width: 400px; margin: auto">
          <six-card>
            <h2 slot="header">Card Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </six-card>
        </div>
      </section>

      <section>
        <h3>Media Cards</h3>
        <div style="max-width: 400px; margin: auto">
          <six-card>
            <img
              slot="media"
              src="data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTAyNCA1MTInIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHJlY3Qgd2lkdGg9JzEwMjQnIGhlaWdodD0nNTEyJyBmaWxsPScjY2NjY2NjJyAvPjwvc3ZnPg=="
              alt="Grey placeholder"
            />
            <h2 slot="header">Card Title</h2>
            <h3 slot="header">Card Subtitle</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </six-card>
        </div>
      </section>

      <section>
        <h3>Header Icon</h3>
        <div style="max-width: 400px; margin: auto">
          <six-card>
            <h2 slot="header">Card Title</h2>
            <h3 slot="header">Card Subtitle</h3>
            <six-icon slot="header-actions" name="headset" size="large"></six-icon>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </six-card>
        </div>
      </section>

      <section>
        <h3>Tag</h3>
        <div style="max-width: 400px; margin: auto">
          <six-card>
            <h2 slot="header">Card Title</h2>
            <h3 slot="header">Card Subtitle</h3>
            <six-tag size="small" pill>Tag</six-tag>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </six-card>
        </div>
      </section>

      <section>
        <h3>Card Buttons</h3>
        <div style="max-width: 400px; margin: auto">
          <six-card shadow>
            <h2 slot="header">Card Title</h2>
            <h3 slot="header">Card Subtitle</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <six-button slot="footer-actions" type="secondary">Action 1</six-button>
            <six-button slot="footer-actions" type="primary">Primary Action</six-button>
          </six-card>
        </div>
      </section>

      <section>
        <h3>Footer with Icon Buttons and Action</h3>
        <div style="max-width: 400px; margin: auto">
          <six-card>
            <img
              slot="media"
              src="data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTAyNCA1MTInIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHJlY3Qgd2lkdGg9JzEwMjQnIGhlaWdodD0nNTEyJyBmaWxsPScjY2NjY2NjJyAvPjwvc3ZnPg=="
              alt="Grey placeholder"
            />
            <h2 slot="header">Card Title</h2>
            <h3 slot="header">Card Subtitle</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <six-icon-button slot="footer" name="share" size="small" label="Share"></six-icon-button>
            <six-icon-button slot="footer" name="edit" size="small" label="Edit"></six-icon-button>
            <six-icon-button slot="footer" name="delete" size="small" label="Delete"></six-icon-button>
            <six-button slot="footer-actions" type="primary">Button</six-button>
          </six-card>
        </div>
      </section>
    </div>
  </body>
</html>
