<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-menu-item</title>
  </head>
  <body>
    <div class="container">
      <h2>Menu Item</h2>
      <p>Menu items provide options for the user to pick from in a menu.</p>
      <section>
        <six-menu
          style="
            max-width: 200px;
            border: solid 1px var(--six-panel-border-color);
            border-radius: var(--six-border-radius-medium);
          "
        >
          <six-menu-item>Option 1</six-menu-item>
          <six-menu-item>Option 2</six-menu-item>
          <six-menu-item>Option 3</six-menu-item>
          <six-menu-divider></six-menu-divider>
          <six-menu-item checked>Checked</six-menu-item>
          <six-menu-item disabled>Disabled</six-menu-item>
          <six-menu-divider></six-menu-divider>
          <six-menu-item>
            Prefix Icon
            <six-icon size="small" slot="prefix">favorite</six-icon>
          </six-menu-item>
          <six-menu-item>
            Suffix Icon
            <six-icon size="small" slot="suffix">face</six-icon>
          </six-menu-item>
        </six-menu>
      </section>
    </div>
  </body>
</html>
