<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-date</title>
  </head>
  <body>
    <div class="container">
      <p>Datepickers allow the user to manually enter a date or open a popup calendar to select a date.</p>
      <section>
        <six-date></six-date>
        <six-date type="time"></six-date>
      </section>

      <h2>Examples</h2>

      <h3>Reading selected date</h3>
      <p>
        Either manually enter a date in the input field or select a date from the popup. You can read the selected date
        by listening to the <code>six-date-select</code> event on the datepicker The selected date will be shown below
        the datepicker.
      </p>
      <section>
        <six-date id="read-select-date-picker"></six-date>
        <div id="read-select-date-label">No Date selected yet!</div>

        <script type="module">
          const datepicker = document.getElementById('read-select-date-picker');
          const selectedDate = document.getElementById('read-select-date-label');

          datepicker.addEventListener('six-date-select', (event) => {
            selectedDate.innerHTML = `selected: ${event.detail.toLocaleDateString()}`;
          });
        </script>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Date and Time</h3>
      <p>
        If you need to select a time as well, just set the <code>type</code> and <code>date-format</code> and the
        datepicker will include a timepicker too.
      </p>
      <section>
        <six-date date-format="dd.mm.yyyy hh:MM:ss" type="date-time" id="read-select-datetime-picker"></six-date>
        <div id="read-select-datetime-label">No Date selected yet!</div>

        <script type="module">
          const datepicker = document.getElementById('read-select-datetime-picker');
          const selectedDate = document.getElementById('read-select-datetime-label');

          datepicker.addEventListener('six-date-select', (event) => {
            selectedDate.innerHTML = `selected: ${event.detail.toLocaleString()}`;
          });
        </script>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Disabled State</h3>
      <section>
        <six-date disabled></six-date>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Inline State</h3>
      <p>If you wish you can have the datepicker as an inline component i.e. the popup will always be open</p>
      <section>
        <six-date inline="true"></six-date>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Readonly State</h3>
      <p>
        If you want to force the user to use the popup instead of manually enter a date, you can simply add the
        <code>readonly</code> property
      </p>
      <section>
        <six-date readonly></six-date>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Placement</h3>
      <p>
        By default the datepicker will render either below or above the input field depending on the available space.
      </p>
      <p>If you want to enforce a certain placement you can use the <code>placement</code> attribute</p>
      <section>
        <six-date placement="bottom"></six-date>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Placeholder</h3>
      <p>You can define the datepickers placeholder via <code>placeholder</code></p>
      <section>
        <six-date placeholder="DD.MM.YYYY"></six-date>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Locale</h3>
      <p>You can change the language in which the datepicker is shown by using the <code>locale</code> attribute</p>
      <section>
        <six-date locale="fr"></six-date>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Footer</h3>
      <p>You can add content to the footer by simply using the datepicker's slot</p>
      <section>
        <six-date>
          <p style="text-align: center">Choose your birthdate!</p>
        </six-date>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <p>Of course you can also enhance the datepicker footer with special functions</p>

      <section>
        <six-date id="datepicker-adv-footer">
          <div
            style="
              display: flex;
              justify-content: space-between;
              padding: 1rem 0.5rem 0 0.5rem;
              border-top: solid 1px #c3c3c3;
            "
          >
            <six-button id="datepicker-adv-footer-btn1">Today</six-button>
            <six-button id="datepicker-adv-footer-btn2">Clear</six-button>
          </div>
        </six-date>
        <script type="module">
          const datepicker = document.getElementById('datepicker-adv-footer');
          datepicker.addEventListener('six-date-select', (event) => {
            console.log(`[ six-date-select ]`, { date: event.detail });
          });

          const btn1 = document.getElementById('datepicker-adv-footer-btn1');
          btn1.addEventListener('click', () => (datepicker.value = new Date()));

          const btn2 = document.getElementById('datepicker-adv-footer-btn2');
          btn2.addEventListener('click', () => (datepicker.value = null));
        </script>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Date Format</h3>

      <p>The SIX datepicker supports the following different formats:</p>
      <section>
        <div id="datepicker-formats-container" style="display: flex; flex-wrap: wrap">
          <six-date placeholder="dd.mm.yyyy" date-format="dd.mm.yyyy"></six-date>
          <six-date placeholder="yyyy-mm-dd" date-format="yyyy-mm-dd"></six-date>
          <six-date placeholder="dd-mm-yyyy" date-format="dd-mm-yyyy"></six-date>
          <six-date placeholder="dd/mm/yyyy" date-format="dd/mm/yyyy"></six-date>
          <six-date placeholder="yyyy/mm/dd" date-format="yyyy/mm/dd"></six-date>
          <six-date placeholder="dd.mm.yy" date-format="dd.mm.yy"></six-date>
          <six-date placeholder="yy-mm-dd" date-format="yy-mm-dd"></six-date>
          <six-date placeholder="dd-mm-yy" date-format="dd-mm-yy"></six-date>
          <six-date placeholder="dd/mm/yy" date-format="dd/mm/yy"></six-date>
          <six-date placeholder="yy/mm/dd" date-format="yy/mm/dd"></six-date>
        </div>

        <six-button id="datepicker-formats-btn">Apply dates</six-button>

        <script type="module">
          const datepickerContainer = document.getElementById('datepicker-formats-container');
          const datepickers = datepickerContainer.querySelectorAll('six-date');
          datepickers.forEach((dtpicker) => {
            dtpicker.style.marginBottom = '1rem';
            dtpicker.style.marginRight = '1rem';
          });

          const btn = document.getElementById('datepicker-formats-btn');
          btn.addEventListener('click', () => {
            datepickers.forEach((dtpicker) => {
              dtpicker.value = new Date();
            });
          });
        </script>
        <style>
          #datepicker-formats-container six-date {
            max-width: 25rem;
            min-width: 10rem;
          }
        </style>
      </section>

      <h3>Define Min & Max</h3>

      <p>You can set the min and max dates. Please be aware that only date objects are accepted and n:</p>

      <section>
        <div class="min-max-demo">
          <six-date id="min-max-date-picker"></six-date>
          <six-date id="only-min-date-picker"></six-date>
          <six-date id="only-max-date-picker"></six-date>
        </div>

        <div style="margin-top: 1rem">
          <span style="font-weight: bold">Selected: </span><span id="min-max-date-selected">No Date selected yet!</span>
          <style>
            six-date {
              max-width: 25rem;
            }
          </style>
        </div>

        <style>
          .min-max-demo {
            display: flex;
            flex-wrap: wrap;
          }

          .min-max-demo six-date {
            min-width: 15rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
          }
        </style>

        <script type="module">
          const minMaxDatepicker = document.getElementById('min-max-date-picker');
          const minDatepicker = document.getElementById('only-min-date-picker');
          const maxDatepicker = document.getElementById('only-max-date-picker');
          const selectedDate = document.getElementById('min-max-date-selected');

          const getDateFromNow = (days) => new Date(new Date().setDate(new Date().getDate() + days));

          minMaxDatepicker.value = new Date();
          minMaxDatepicker.min = getDateFromNow(-3);
          minMaxDatepicker.max = getDateFromNow(2);

          minDatepicker.min = getDateFromNow(-3);
          maxDatepicker.max = getDateFromNow(2);

          minMaxDatepicker.addEventListener('six-date-select', (event) => {
            selectedDate.innerHTML = `${event.detail.toLocaleDateString()}`;
          });
        </script>
      </section>

      <h3>Allowed Dates</h3>

      <p>
        If the set of allowed dates is more complex than just passing a min and max date you can define a allow dates
        callback function
      </p>

      <section>
        <six-date id="allowed-date-picker"></six-date>

        <script type="module">
          const datepicker = document.getElementById('allowed-date-picker');
          datepicker.allowedDates = (date) => date.getDate() % 2 === 0;
        </script>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Custom Start Date</h3>

      <p>You can define a custom default date which will be shown on first appearance of the popup</p>

      <section>
        <six-date default-date="2021-02-20" date-format="yyyy-mm-dd"></six-date>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Clearable</h3>
      <p>Add the <code>clearable</code> property to add a clear button when the input has content.</p>

      <section>
        <six-date clearable></six-date>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Icon position</h3>
      <p>Could be adjusted providing <code>icon-position</code> property.</p>

      <section>
        <six-date icon-position="right"></six-date>
        <br />
        <six-date icon-position="right" clearable></six-date>
        <br />
        <six-date icon-position="right" custom-icon clearable>
          <img
            style="height: 24px"
            slot="custom-icon"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Sketch_Logo.svg/1133px-Sketch_Logo.svg.png"
            alt="customicon"
          />
        </six-date>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Custom icon</h3>
      <p>The slot <code>custom-icon</code> is used to provide a custom datepicker icon.</p>

      <section>
        <six-date custom-icon>
          <img
            style="height: 24px"
            slot="custom-icon"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Sketch_Logo.svg/1133px-Sketch_Logo.svg.png"
            alt="customicon"
          />
        </six-date>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Sizes</h3>
      <p>Use the <code>size</code> attribute to change a datepicker size.</p>
      <section class="demo" style="width: 300px">
        <six-date size="small" clearable></six-date>
        <br />
        <six-date size="medium" clearable></six-date>
        <br />
        <six-date size="large" clearable></six-date>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Hoisting</h3>
      <p>
        Dropdown panels will be clipped if they're inside a container that has overflow: auto|hidden. The hoist
        attribute forces the panel to use a fixed positioning strategy, allowing it to break out of the container. In
        this case, the panel will be positioned relative to its containing block, which is usually the viewport unless
        an ancestor uses a transform, perspective, or filter.
      </p>
      <section>
        <div style="overflow: hidden; border: solid 1px grey; padding: 0.5em; display: flex">
          <six-date placement="bottom" placeholder="no hoisting"></six-date>
          <six-date hoist placement="bottom" placeholder="with hoisting"></six-date>
        </div>
        <style>
          six-date {
            max-width: 25rem;
            min-width: 10rem;
          }
        </style>
      </section>

      <h3>Dynamic changes</h3>

      <p>The datepicker value can be changed dynamically by setting the <code>value</code> attribute.</p>

      <section>
        <six-date id="dynamic-datepicker"></six-date>
        <div style="margin-top: 1rem">
          <span style="font-weight: bold">Selected: </span
          ><span id="dynamic-datepicker-selected">No Date selected yet!</span>
        </div>
        <div style="margin-top: 1rem">
          <six-button id="dynamic-datepicker-btn1">01.01.2020</six-button>
          <six-button id="dynamic-datepicker-btn2">15.06.3020</six-button>
          <six-button id="dynamic-datepicker-btn3">31.12.1420</six-button>
        </div>
        <script type="module">
          const datepicker = document.getElementById('dynamic-datepicker');
          const selectedDate = document.getElementById('dynamic-datepicker-selected');

          const btn1 = document.getElementById('dynamic-datepicker-btn1');
          btn1.addEventListener('click', () => (datepicker.value = new Date('2020-01-01')));

          const btn2 = document.getElementById('dynamic-datepicker-btn2');
          btn2.addEventListener('click', () => (datepicker.value = new Date('3020-06-15')));

          const btn3 = document.getElementById('dynamic-datepicker-btn3');
          btn3.addEventListener('click', () => (datepicker.value = new Date('1420-12-31')));

          datepicker.addEventListener('six-date-select', (event) => {
            console.log(`[ six-date-select ]`, { date: event.detail });
            selectedDate.innerHTML = `${event.detail.toLocaleDateString()}`;
          });
        </script>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h3>Open State</h3>
      <p>If you wish you can have the datepicker open on startup. It will close as usual (clicking outside etc.)</p>
      <section>
        <six-date open="true" placement="bottom"></six-date>
        <style>
          six-date {
            max-width: 25rem;
          }
        </style>
      </section>

      <h2>Datepicker in a Modal</h2>

      <section>
        <six-button id="modal-ex-dt">Toggle Modal</six-button>

        <div id="dt-modal" class="dt-modal">
          <six-date placement="top"></six-date>
          <six-date placement="bottom"></six-date>
        </div>

        <script>
          let modalIsShown = false;

          const btn = document.getElementById('modal-ex-dt');
          const dtModal = document.getElementById('dt-modal');
          btn.addEventListener('click', () => {
            if (modalIsShown) {
              dtModal.style.display = 'none';
            } else {
              dtModal.style.display = 'flex';
            }

            modalIsShown = !modalIsShown;
          });
        </script>

        <style>
          .dt-modal {
            display: none;
            flex-wrap: wrap;
            width: 25vw;
            height: 25vh;
            margin-top: 25vh;
            background: white;
            position: fixed;
            z-index: 999;
            left: 25vw;
            top: 0;
            border: solid 2px lightgray;
            box-shadow: 0 4px 16px #00000038;
          }

          .dt-modal six-date {
            width: 100%;
            height: calc(100vh - 2.5rem);
            max-width: unset;
          }
        </style>
      </section>

      <h2>Error Text</h2>

      <p>Add a descriptive error message using either the <code>error-text</code> prop, or the equally named slot.</p>

      <six-alert type="warning" open>
        <six-icon slot="icon">warning</six-icon>
        There are two caveats when using the <code>error-text</code> prop/slot:
        <ol>
          <li>
            Remember to set the <code>invalid</code> prop as well! If you only provide some content to the
            <code>error-text</code> prop/slot, it won't be shown unless the <code>invalid</code> prop is set to true
          </li>
          <li>
            When using the prop, and you need to show more than one message, remember to also set the
            <code>error-text-count</code> prop to a value that is the same or bigger than the length of the list of
            messages you are using. Otherwise only one message will be shown at a time
          </li>
        </ol>
      </six-alert>

      <p>The <code>error-text</code> prop accepts either a simple string message, or a list of messages.</p>

      <section class="demo">
        <six-date label="Simple string message" error-text="This is a simple string message" invalid> </six-date>
      </section>

      <section class="demo">
        <six-date id="multiple-error-text" label="List of string message" invalid></six-date>
        <script type="module">
          const sixDatePicker = document.getElementById('multiple-error-text');
          sixDatePicker.errorText = ['Message 1', 'Message 2'];
          sixDatePicker.errorTextCount = 3;
        </script>
      </section>

      <p>
        When using the <code>error-text</code> slot, it is recommended to use the <code>six-error</code> component to
        wrap the error message(s). This will provide the correct styling out of the box
      </p>
      <section class="demo">
        <six-date invalid>
          <div slot="error-text">
            <six-error
              >An error message
              <a href="https://github.com/six-group/six-webcomponents" target="_blank">with a link</a></six-error
            >
          </div>
        </six-date>
      </section>
    </div>
  </body>
</html>
