<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-date</title>
  </head>
  <body>
    <div class="container">
      <p>Datepickers allow the user to manually enter a date or open a popup calendar to select a date.</p>
      <section>
        <six-date value="abc" min="2025-04-05" label="Date" clearable></six-date>
      </section>
    </div>
  </body>
</html>
