@import 'src/global/component';

:host {
  display: block;
  font-family: var(--six-font-family);
}

.date {
  position: relative;
}

/**
 * PANEL
 */
.date__panel {
  width: 25rem;
  opacity: 0;
  pointer-events: none;
  padding: var(--six-spacing-small);
  padding-bottom: var(--six-spacing-x-large);
  border: 1px solid var(--six-color-web-rock-300);
  box-shadow: var(--six-shadow-small);
  transition: var(--six-transition-fast) opacity, var(--six-transition-fast) transform;
}

.date__panel.popover-visible {
  opacity: 1;
  pointer-events: all;
}

.date-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--six-color-web-rock-400);
  padding: var(--six-spacing-x-small);
  margin-bottom: var(--six-spacing-medium);
  user-select: none;

  & svg {
    fill: var(--six-color-web-rock-900);
    stroke: none;
  }

  &__btn {
    cursor: pointer;
    width: 2.5em;
    height: var(--six-height-medium);
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--six-color-web-rock-100);
      border-radius: 100%;
    }
  }

  &__label {
    display: flex;

    & > div {
      cursor: pointer;
      padding: var(--six-spacing-x-small);
      display: flex;
      vertical-align: middle;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: var(--six-color-web-rock-100);
      }
    }
  }
}

/**
 * CELL
 */
.cell {
  cursor: pointer;
  text-align: center;
  padding: var(--six-spacing-x-small);

  &:hover {
    background-color: var(--six-color-web-rock-200);
  }
}

.cell--header {
  padding: var(--six-spacing-x-small);
  text-align: center;
  font-weight: var(--six-font-weight-bold);
}

.cell--today .label {
  padding: var(--six-spacing-xxx-small);
  border-bottom: 2px solid var(--six-color-web-rock-900);
}

.cell--selected.cell--today .label {
  border-bottom: 2px solid var(--six-color-white);
}

.cell--selected {
  background-color: var(--six-color-red);
  color: var(--six-color-white);

  &:hover {
    background-color: var(--six-color-danger-900);
  }
}

.cell--disabled {
  cursor: not-allowed;
  color: var(--six-color-web-rock-400);

  &:hover {
    background: none;
  }
}

.cell--selected.cell--disabled {
  color: var(--six-color-web-rock-500);

  &:hover {
    background-color: var(--six-color-red);
  }
}

.cell--outdated {
  color: var(--six-color-web-rock-400);
}

.cell--today.cell--disabled .label {
  border-bottom: 2px solid var(--six-color-web-rock-400);
}

/**
 *  DAY SELECTION
 */
.day-selection {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--six-spacing-xx-small);
}

/**
 *  MONTH SELECTION
 */
.month-selection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--six-spacing-xx-small);
}

/**
 *  YEAR SELECTION
 */
.year-selection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--six-spacing-xx-small);
}
