<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>Six-Alert</title>
  </head>
  <body>
    <div class="container">
      <section>
        <six-alert open>
          <six-icon slot="icon">info</six-icon>
          This is a standard alert. You can customize its content and even the icon.
        </six-alert>
      </section>

      <div style="display: flex; margin-top: 1em; padding: 1em">
        <div style="margin-right: 1em">
          <six-icon>warning</six-icon>
        </div>
        <div>
          Alerts will not be visible if the
          <code>open</code>
          attribute is not present.
        </div>
      </div>

      <h2>Types</h2>

      <p>
        Set the
        <code>type</code>
        attribute to change the alert's type
      </p>

      <section>
        <six-alert type="primary" open>
          <six-icon slot="icon">info</six-icon>
          <strong>This is super informative</strong><br />
          You can tell by how pretty the alert is.
        </six-alert>

        <br />

        <six-alert type="success" open>
          <six-icon slot="icon">check_circle</six-icon>
          <strong>Your changes have been saved</strong><br />
          You can safely exit the app now.
        </six-alert>

        <br />

        <six-alert type="info" open>
          <six-icon slot="icon">info</six-icon>
          <strong>Your settings have been updated</strong><br />
          Settings will take affect on next login.
        </six-alert>

        <br />

        <six-alert type="warning" open>
          <six-icon slot="icon">warning_amber</six-icon>
          <strong>Your session has ended</strong><br />
          Please login again to continue.
        </six-alert>

        <br />

        <six-alert type="danger" open>
          <six-icon slot="icon">error_outline</six-icon>
          <strong>Your account has been deleted</strong><br />
          We're very sorry to see you go!
        </six-alert>
      </section>

      <h2>closable</h2>

      <p>
        Add the
        <code>closable</code>
        attribute to show a close button that will hide the alert.
      </p>

      <section>
        <six-alert type="primary" open closable class="alert-closable">
          <six-icon slot="icon">info</six-icon>
          You can close this alert any time!
        </six-alert>

        <script type="module">
          (() => {
            const alert = document.querySelector('.alert-closable');
            alert.addEventListener('six-alert-after-hide', () => {
              setTimeout(() => {
                alert.open = true;
              }, 2000);
            });
          })();
        </script>
      </section>

      <h2>Without Icons</h2>

      <p>
        Icons are optional. Simply omit the
        <code>icon</code>
        slot if you don't want them.
      </p>

      <section>
        <six-alert type="primary" open> Nothing fancy here, just a simple alert. </six-alert>
      </section>

      <h2>Duration</h2>

      <p>
        Set the
        <code>duration</code>
        prop to automatically hide an alert after a period of time. This is useful for alerts that don't require
        acknowledgement.
      </p>

      <section>
        <div class="alert-duration">
          <six-button type="primary">Show Alert</six-button>

          <six-alert type="primary" duration="3000" closable>
            <six-icon slot="icon">info</six-icon>
            This alert will automatically hide itself after three seconds, unless you interact with it.
          </six-alert>
        </div>

        <script type="module">
          (() => {
            const container = document.querySelector('.alert-duration');
            const button = container.querySelector('six-button');
            const disappearingAlert = container.querySelector('six-alert');

            button.addEventListener('click', () => disappearingAlert.show());
          })();
        </script>

        <style>
          .alert-duration six-alert {
            margin-top: var(--six-spacing-medium);
          }
        </style>
      </section>

      <h2>Toast Notifications</h2>

      <p>
        To display an alert as a toast notification, or "toast", create the alert and call its `toast()` method. This
        will move the alert out of its position in the DOM and into the toast stack where it will be shown. Once
        dismissed, it will be removed from the DOM completely. To reuse a toast, store a reference to it and call
        <code>toast()</code>
        again later on.
      </p>

      <p>
        You should always use the
        <code>closable</code>
        prop so users can dismiss the notification. It's also common to set a reasonable
        <code>duration</code>
        when the notification doesn't require acknowledgement.
      </p>

      <section>
        <div class="alert-toast">
          <six-button id="primary-button" type="primary">Primary</six-button>
          <six-button id="success-button" type="success">Success</six-button>
          <six-button id="secondary-button" type="secondary">Info</six-button>
          <six-button id="warning-button" type="warning">Warning</six-button>
          <six-button id="danger-button" type="danger">Danger</six-button>

          <six-alert id="primary-alert" type="primary" duration="3000" closable>
            <six-icon slot="icon">info</six-icon>
            <strong>This is super informative</strong><br />
            You can tell by how pretty the alert is.
          </six-alert>

          <six-alert id="success-alert" type="success" duration="3000" closable>
            <six-icon slot="icon">check_circle</six-icon>
            <strong>Your changes have been saved</strong><br />
            You can safely exit the app now.
          </six-alert>

          <six-alert id="info-alert" type="info" duration="3000" closable>
            <six-icon slot="icon">info</six-icon>
            <strong>Your settings have been updated</strong><br />
            Settings will take affect on next login.
          </six-alert>

          <six-alert id="warning-alert" type="warning" duration="3000" closable>
            <six-icon slot="icon">warning_amber</six-icon>
            <strong>Your session has ended</strong><br />
            Please login again to continue.
          </six-alert>

          <six-alert id="danger-alert" type="danger" duration="3000" closable>
            <six-icon slot="icon">error_outline</six-icon>
            <strong>Your account has been deleted</strong><br />
            We're very sorry to see you go!
          </six-alert>
        </div>

        <script type="module">
          (() => {
            const alertToastContainer = document.querySelector('.alert-toast');

            Object.entries({
              primary: 'primary',
              success: 'success',
              info: 'secondary',
              warning: 'warning',
              danger: 'danger',
            }).map(([alertType, buttonType]) => {
              const button = alertToastContainer.querySelector(`#${buttonType}-button`);
              const alert = alertToastContainer.querySelector(`#${alertType}-alert`);

              button.addEventListener('click', () => alert.toast());
            });
          })();
        </script>
      </section>

      <h2>Angular and Vue Utilities</h2>

      <p>The wrapper libraries for Angular and Vue offer a simpler way to create toast alerts:</p>

      <ul>
        <li>
          <strong>Angular</strong>: Inject the `alertService` and utilize the `showAlert` method
          <code>this.alertService.showAlert('The Alert Message');</code>
        </li>
        <li>
          <strong>Vue</strong>: Use <code>showAlert</code> by importing it from <code>'@six-group/ui-library'</code> and
          then invoke it
          <code>showAlert('The Alert Message');</code>
        </li>
      </ul>

      <h2>Creating Toasts Imperatively</h2>

      <p>
        You can also create your own utility that emits toast notifications with a function call rather than composing
        them in your HTML. To do this, generate the alert with JavaScript, append it to the body, and call the
        <code>toast()</code>
        method as shown in the example below.
      </p>

      <section>
        <div class="alert-toast-wrapper">
          <six-button type="primary">Create Toast</six-button>
        </div>

        <script type="module">
          (() => {
            const alertToastImpContainer = document.querySelector('.alert-toast-wrapper');
            const toastCreatorButton = alertToastImpContainer.querySelector('six-button');
            let count = 0;

            // Always escape HTML for text arguments!
            function escapeHtml(html) {
              const div = document.createElement('div');
              div.textContent = html;
              return div.innerHTML;
            }

            // Custom function to emit toast notifications
            function notify(message, type = 'primary', icon = 'info', duration = 3000) {
              const alert = Object.assign(document.createElement('six-alert'), {
                type: type,
                closable: true,
                duration: duration,
                innerHTML: `
                    <six-icon slot="icon">${icon}</six-icon>
                    ${escapeHtml(message)}`,
              });

              document.body.append(alert);
              return alert.toast();
            }

            toastCreatorButton.addEventListener('click', () => {
              const possibleTypes = ['primary', 'success', 'info', 'warning', 'danger'];
              const drawnNumber = Math.round(Math.random(0, 1) * 5) + 1;
              notify(`This is custom toast #${++count}`, possibleTypes[drawnNumber]);
            });
          })();
        </script>
      </section>

      <h2>The Toast Stack</h2>

      <p>
        The toast stack is a fixed position singleton element created and managed internally by the alert component. It
        will be added and removed from the DOM as needed when toasts are shown. When more than one toast is visible,
        they will stack vertically in the toast stack.
      </p>

      <p>
        By default, the toast stack is positioned at the top-right of the viewport. You can change its position by
        targeting
        <code>.six-toast-stack</code> in your stylesheet. To make toasts appear at the top-left of the viewport, for
        example, use the following styles.
      </p>

      <p class="warn">
        By design, it is not possible to show toasts in more than one stack simultaneously. Such behavior is confusing
        and makes for a poor user experience.
      </p>
    </div>
  </body>
</html>
