.paginator-parent {
  display: flex;
}

.paginator-center-child {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.paginator-side-child {
}

.paginator-values-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  height: fit-content;
  align-items: center;
}

.paginator-value-selector {
  display: grid;
  cursor: pointer;
  height: 2rem;
  aspect-ratio: 1/1;
  place-items: center;
  &--current {
    font-weight: bold;
    text-decoration: underline;
  }
  &--disabled {
    cursor: not-allowed;
  }
}
