.users-header {
  &__title {
    font-weight: bold;
    font-size: larger;
    position: relative;
    top: -0.6rem;
    margin-left: 0.6rem;
  }

  six-button {
    margin-right: 1rem;
  }

  code {
    background: rgba(0, 0, 0, 0.04);
    padding: 0.2rem;
    border-radius: 3px;
    font-weight: bold !important;
  }
}
