name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - run: npm ci
      - run: npm run prettier:check
      - run: npm run lint:lib
      - run: npm run test

  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - run: npm ci
      - name: install playwright browsers
        run: npx playwright install --with-deps
      - name: playwright tests
        run: npm run test:e2e

      - name: upload playwright report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: libraries/ui-library/playwright-report
          retention-days: 30

      - name: upload playwright test coverage
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-coverage-html
          path: libraries/ui-library/coverage
          retention-days: 30

      - name: code coverage report
        uses: 5monkeys/cobertura-action@master
        if: github.event_name == 'pull_request' && !cancelled()
        with:
          path: libraries/ui-library/coverage/cobertura-coverage.xml
          minimum_coverage: 0

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: npm ci
      - run: npm run build
      - name: verify clean build
        run: git diff --exit-code
