name: Publish PR preview release on demand
on:
  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  build-pr-release:
    name: Publish PR Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - run: npm ci
      - run: npm run build
      - run: npx pkg-pr-new publish 'libraries/ui-library/' 'libraries/ui-library-vue/' 'libraries/ui-library-react/' 'libraries/ui-library-angular/dist/ui-library-angular/'
