@import 'src/global/component';

:host {
  display: flex;
}

.tab {
  display: inline-flex;
  align-items: center;
  font-family: var(--six-font-family);
  font-size: var(--six-font-size-small);
  font-weight: var(--six-font-weight-semibold);
  color: var(--six-tab-color);
  padding: var(--six-spacing-medium) var(--six-spacing-large);
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--six-focus-ring);
    outline-offset: calc(-1 * var(--six-focus-ring-width) - var(--six-focus-ring-offset));
  }

  &.tab--active:not(.tab--disabled) {
    color: var(--six-tab-color-active);
    font-weight: var(--six-font-weight-bold);
  }

  &.tab--closable {
    padding-right: var(--six-spacing-small);
  }

  &.tab--disabled {
    color: var(--six-tab-color-disabled);
    cursor: not-allowed;
  }

  &:hover:not(.tab--disabled) {
    color: var(--six-tab-color-hover);
  }

  &.tab--left,
  &.tab--right {
    display: inline-block;
    text-align: left;
  }

  &.tab--left::before,
  &.tab--right::before {
    display: block;
    font-weight: var(--six-font-weight-bold);
    content: attr(title);
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.tab__close-button {
  font-size: var(--six-font-size-large);
  margin-left: var(--six-spacing-xx-small);

  &::part(base) {
    padding: var(--six-spacing-xxx-small);
  }
}

// TAB INDICATOR
.tab__indicator {
  position: absolute;
  &.tab__indicator--active {
    background-color: var(--six-tab-border-color-active);
  }
}

// TOP
.tab--top {
  margin-bottom: var(--six-spacing-xxx-small);
}

.tab__indicator--top {
  width: 100%;
  bottom: 0;
  height: var(--six-tab-border-width);
}

// BOTTOM
.tab--bottom {
  margin-top: var(--six-spacing-xxx-small);
}

.tab__indicator--bottom {
  width: 100%;
  top: 0;
  height: var(--six-tab-border-width);
}

// LEFT
.tab--left {
  margin-right: var(--six-spacing-xxx-small);
}

.tab__indicator--left {
  height: 100%;
  right: 0;
  top: 0;
  width: var(--six-tab-border-width);
}

// RIGHT
.tab--right {
  margin-left: var(--six-spacing-xxx-small);
}

.tab__indicator--right {
  height: 100%;
  left: 0;
  top: 0;
  width: var(--six-tab-border-width);
}
